body{
  margin: auto;
  padding-top: 200px;
}
.login{
  height: 300px;
  width: 600px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.login div{
  display: block;
  display: flex;
  justify-content: center;
  
}
.login div img{
  width: 50px;
  height: 50px;
}
#logoutMsg{
  text-align: center;
  margin-bottom: 50px;
}
button{
  display: block;
  width: 100%;
  height: 40px;
  background-color: #2980b9;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s
}
button:hover {
  background-color: #1f5f91;
}